/* Podstawowy styl dla strony */
body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #2a2a2a; /* ciemne tło */
    color: #f5e6ca; /* jasny tekst */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    color: #f5e6ca;
}

footer {
    margin-top: auto;
    padding: 10px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/* Stylizacja dla sticky navbar */
.bottom-navbar {
    position: fixed;
    bottom: 10px; /* unosi navbar nieco nad krawędzią ekranu */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 80%; /* dostosuj szerokość, aby dopasować do wymagań */
    max-width: 400px;
    background-color: #3c3c3c; /* kolor ciemny kota */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Kontener dla każdego elementu nawigacyjnego */
.nav-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #4a4a4a;
    border-radius: 10px;
    margin: 0 5px;
    transition: background-color 0.3s;
    max-width: 100px; /* stała szerokość kontenerów */
}

.nav-item:hover {
    background-color: #5c5c5c; /* jaśniejszy kolor na hover */
}

/* Link w środku każdego kontenera */
.nav-item a {
    color: #f5e6ca;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px; /* odstęp między ikoną a tekstem */
    font-size: 14px;
}

/* Ikony w kontenerach */
.nav-item i {
    font-size: 20px;
    color: #f5e6ca;
    transition: color 0.3s;
}

.nav-item:hover i,
.nav-item:hover span {
    color: #ffffff; /* zmiana koloru ikony i tekstu na biały przy najechaniu */
}

/* Tekst w nawigacji */
.nav-item span {
    font-size: 14px;
    color: #f5e6ca;
}
